<div class="container w-50 p-5">
  <div class="page-header">
    <h2 style="text-align: center;">Manager Login</h2><br>
  </div>
    <form #loginForm="ngForm" (ngSubmit)="loginUser()">
      <small class="text-danger">{{msg}}</small>  
      <div class="form-group">
        <!-- <label for="email">Email:</label> -->
        <input type="email" class="form-control" placeholder="Enter email" name="email" 
           [(ngModel)]="user.email" required #email="ngModel" 
           [class.is-invalid]="email.invalid && email.touched"
           pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$">
        <!-- <small class="text-danger" [class.d-none]="email.valid || email.untouched">Email Id is required field.</small> -->
        <div *ngIf="email.errors && email.invalid && email.touched">
            <small class="text-danger" *ngIf="email.errors.required">Email Id is required field</small>
            <small class="text-danger" *ngIf="email.errors.pattern">Enter valid emailId</small>
        </div>
      </div>
      <div class="form-group">
        <!-- <label for="pwd">Password:</label> -->
        <input type="password" class="form-control" placeholder="Enter password" name="password" 
            [(ngModel)]="user.password" required #password="ngModel" 
            [class.is-invalid]="password.invalid && password.touched">
        <small class="text-danger" [class.d-none]="password.valid || password.untouched">Password is required field</small>        
      </div>
      <!-- <div class="checkbox">
        <label><input type="checkbox" name="remember"> Remember me</label>
      </div> -->
      
      <button [disabled]="loginForm.form.invalid" type="submit" class="btn btn-info float-right">Login</button>
      
    </form>
    <button type="submit" class="btn btn-info float-right mr-2" [routerLink]="['/signup']">Signup</button>
  </div>
  
